.popover {
  display: none;
  background-color: #FAFAFA;
  color: #484848;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}

.popover h2 {
  font-size: 16px;
  font-weight: 600;
}

.popover ul, .popover li {
  padding: 5px;
  margin: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}
